$accentColor = #42b983//默认主题颜色
$borderColor = #d9d9d9//默认边框颜色
 
.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable){
  opacity :1
}
.sidebar {
    width: 15%;
    margin-left: 10%
}
.page {
    margin-left: 10%
    max-width: 65%;
}
.navbar a, .navbar span, .navbar img {
    display: inline-block;
    margin-left: 10%;
}
.theme-default-content:not(.custom) {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem 2.5rem;
}
.page-nav {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem 2.5rem;
}
.navbar .links {
    padding-left: 1.5rem;
    box-sizing: border-box;
    background-color: #fff;
    white-space: nowrap;
    font-size: 0.9rem;
    position: absolute;
    right: 10%;
    top: 0.7rem;
    display: flex;
}

.sidebar-group.is-sub-group {
    width: 80%;
    padding-left: 0 !important;
    margin-left: 32px;
    padding-left: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    color: #ddd
}

.sidebar-group.is-sub-group > .sidebar-heading {
    font-size: 0.95em;
    line-height: 1.4;
    font-weight: normal;
    padding-left:0rem;
}
table {
    display: table;
    width: 100%;
    font-size: 14px;
    line-height:2;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    border-width: 0;
    margin: 2em 0;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #ebedf0;
}

.page-edit {
     max-width: 100%;
    margin: 0 auto;
    padding: 2rem 2.5rem;
}
table td:nth-child(1) {
    width:15%;
}
table td:nth-child(2) {
    width:30%;
}
table td:nth-child(3) {
    width:18%;
}
table td:nth-child(4) {
    width:25%;
}

table td:nth-child(3) code {
    color: #c41d7f !important;
    font-size: 13px;
    word-break: break-all;
}
table td:nth-child(1) code {
    color: #000 !important;
    font-weight: 500;
    font-size: 13px;
    word-break: break-all;
}
.navbar .site-name {
    font-size: 1.3rem;
    font-weight: 600;
    color: #2c3e50;
    position: relative;
    display: none;
}